name: Latest blog post workflow
on:
  schedule:
    - cron: '*/5 * * * *' # Runs every 5 minutes
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          committer_username: "locfaker"
          committer_email: "locv2659@gmail.com"
          comment_tag_name: "BLOG-POST-LIST"
          feed_list: "https://dev.to/feed/locfaker,https://medium.com/feed/@vodailoc"
